/* .layout {
  display: flex;
}

.main {
  flex: 1;
  background: #020617;
  min-height: 100vh;
}

.content {
  padding: 25px;
  color: white;
} */

.layout {

  display: flex;

  min-height: 100vh;

  background: #020617;

  overflow: hidden;
}

/* ===== MAIN AREA ===== */

.main {

  flex: 1;

  width: calc(100% - 250px);

  min-height: 100vh;

  background: #020617;

  overflow-x: hidden;
}

/* ===== PAGE CONTENT ===== */

.content {

  padding: 25px;

  color: white;

  width: 100%;
}  