.search-wrapper {

  width: 100%;

  margin-bottom: 24px;
}

.search-wrapper input {

  width: 100%;

  background: var(--card-bg);

  border:
    1px solid var(--border-color);

  padding: 14px 18px;

  border-radius: 12px;

  color: var(--text-primary);

  font-size: 15px;

  outline: none;

  transition: .3s;
}

.search-wrapper input::placeholder {

  color: var(--text-secondary);
}

.search-wrapper input:focus {

  border-color: #3b82f6;

  box-shadow:
    0 0 0 4px rgba(59,130,246,.15);
}